
.delete-container {
    .btn-red {
        background-color: red;
    }
    .btn-red:hover {
        background-color: red;
    }
    
    .close-btn:hover{
        background-color: #D2D7DF;
        color:black;
    }
    
}
