
.container {
    padding:15px;
    margin:10px 10px;
}

.display-cart-food {
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    background-color: #F7F7F7;
}

.cart-food{
    align-self: center;
    width:200px;
}

.image {
   max-width: 90px;
 
}

img {
    max-width: 100%;
    height:100px;
}


button {
    padding:3px 30px;
    background-color: red;
    color:white;
    border-radius: 5px;
    text-align: center;
    margin-top:8px;
 
}
button:hover:enabled {
    cursor:pointer;
    background-color:var(--secondary-color) ;
    border:white;
}

.total-price {
    align-self: center;
}

.middle-button {
    display: flex;
    justify-content: space-around;
}

.Checkout-btn {
    background-color:var(--primary-color) ;
    color: black;
}

.plus-minus{
    display: flex;
}

  .input-size{
    width: 25px;
    height:20px;
    margin-top: 4px;
    margin-bottom: 5px;
    border: none;
  }
  

.emptyCart{
    position: absolute;
    left:50%;
    top:60%;
    width:90vh;
    height:auto;
    transform:translate(-50%,-50%);

  }