<div *ngIf="isCartEmpty">
    <img src="../../../assets/emptyCart.png" alt="emptyCart" class="emptyCart">
 </div>
 <div class="container" *ngIf="!isCartEmpty"> 
     <h2>Your Cart</h2>
 
     <div class="display-cart-food" *ngFor = "let product of products ">
     
         <div class="cart-food image">
             <img [src]="'../../../assets/RestaurentImageDataBase/'+product.foodImagePath" alt="">
         </div>
         <div class="cart-food food-name">
             <h4>{{product.foodName}}</h4>
         </div>
         
         <div class="cart-food">
             <h5>{{product.price | currency:"INR"}}</h5>
         </div>
         
         <div class="cart-food">
             <div class="plus-minus">
                 <span class="material-icons icon-hover" (click)="addFood(product)" style="font-size: 28px; color:black;">add_circle</span>
                 <input type="text" value = {{product.count}} style="text-align:center;"class="input-size">
                 <span class="material-icons icon-hover" (click)="removeFood(product)"  style="font-size: 28px; color:black;">remove_circle</span>
             </div>
             <!-- <button (click)="">Remove</button> -->
         </div>
     </div>
     <div class="middle-button">
         <div>
 
             <button mat-raised-button (click)="removeAllCartItems()" class="clear-cart button-color">Clear Cart</button>
         </div>
         <div>
 
             <button mat-raised-button class ="Checkout-btn button-color">Checkout  >></button>
         </div>
         <div class ="total-price">
 
             <h4 >Total Price: {{grandTotal | currency:"INR"}}</h4>
         </div>
     </div>
 </div>