.dashboard-container {
    margin: 10px;
    .widgets {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
    .charts-container{
        display: flex;
        margin-top: 35px;
        .chart {
            min-width: 50%;
        }
        .food-chart {
            margin-left: 15%;
            min-height: 250px;      
        }
    }
}