<div class="dashboard-container">
    <h1>Dashboard</h1>
    <div class="widgets" >
        <app-dashboard-cards  *ngFor="let data of widgets" [cardInformation]="data"></app-dashboard-cards>
    </div>
    <div class="charts-container">
        <div class="chart">
            <h2>Revenue</h2>
            <canvas id="revenue-chart"></canvas>
        </div>
        <div class="food-chart">
            <h2>Popular Food</h2>
            <canvas id="food-chart"></canvas>
        </div>
    </div>
    
</div>